<template>
  <div class="modal" tabindex="-1" role="dialog" id="delay-modal" style="display:block">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Liste des retards
            <button
              :class="{active: timePeriod === 'day'}"
              type="button"
              class="btn btn-primary btn-range"
              @click="timePeriod = 'day'"
            >Aujourd'hui</button>
            <button
              :class="{active: timePeriod === 'week'}"
              type="button"
              class="btn btn-primary btn-range"
              @click="timePeriod = 'week'"
            >Cette Semaine</button>
            <button
              :class="{active: timePeriod === 'month'}"
              type="button"
              class="btn btn-primary btn-range"
              @click="timePeriod = 'month'"
            >Ce mois ci</button>
            <button 
            :class="{active: timePeriod === 'all'}"
            type="button" class="btn btn-primary btn-range" @click="timePeriod = 'all'">Tous</button>
          </h5>

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="clickClose()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section id="students-delays">
            <div class="row">
              <div v-for="student in studentsPeriod" :key="student.id" class="col-4">
                <h3>{{student.name}}</h3>
                <p>Total : {{total(student.delays)}}</p>
                <ul>
                  <li
                    v-for="(delay, index) in student.delays"
                    :key="index"
                  >{{delay.date}} &rArr; {{delay.time}}</li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  name: "DelayList",
  props: {
    students: {
      type: Array,
      default: []
    }
  },
  data() {
    return {
      timePeriod: "week",
      now: moment()
    };
  },
  computed: {
    studentsPeriod: function() {
      return this.students.map(student => {
        let clone = Object.assign({}, student);
        clone.delays = clone.delays.filter(delay => {
          let date = moment(delay.date, "DD/M/YYYY");
          if (
            (this.timePeriod === "day" &&
              this.now.dayOfYear() !== date.dayOfYear()) ||
            (this.timePeriod === "week" && this.now.week() !== date.week()) ||
            (this.timePeriod === "month" && this.now.month() !== date.month())
          ) {
            return false;
          }

          return true;
        });
        return clone;
      });
    }
  },
  methods: {
    clickClose() {
      this.$emit("close");
    },
    total(delays) {
      let duration = delays.reduce((reducer, delay) => {
        let time = moment.duration(delay.time, "HH:mm");
        reducer.add(time);
        return reducer;        
      }, moment.duration());
      return duration.get('hours')+':'+duration.get('minutes');
    }
  }
};
</script>

<style lang="scss">
</style>
