<template>
  <div class="container-fluid">
    <aside>
      <div class="row mb-2 justify-content-end">
        <div class="col-2">
          <label>Heure de référence</label>
        </div>
        <div class="col-1">
          <select v-model="refHours" class="custom-select">
            <option v-for="(hour, index) in 24" :key="index">{{hour}}</option>
          </select>
        </div>
        <div class="col-1">
          <select v-model="refMinutes" class="custom-select">
            <option v-for="(minute, index) in 60" :key="index">{{minute}}</option>
          </select>
        </div>
      </div>
    </aside>
    <section id="students">
      <div class="row">
        <div v-for="student in students" :key="student.id" class="col-4 col-md-3 mb-2">
          <button :class="{'btn-warning': todayDelay(student)}" class="btn btn-info" @click="addDelay(student)">{{student.name}}</button>
          <button class="btn btn-danger ml-1" @click="deleteStudent(student)">X</button>
        </div>
      </div>
      <button
        id="btn-modal"
        type="button"
        class="btn btn-secondary mt-3 mb-5"
        @click="showDelays = true"
      >Liste des Retards</button>
    </section>
    <form id="form-add" class="logged mt-5" v-if="logged" @submit.prevent="addStudent()">
      <div class="form-row">
        <input
          class="form-control col-3"
          type="text"
          id="name"
          placeholder="Student Name :"
          v-model="studentName"
        >
        <button class="btn btn-primary">Ajouter</button>
      </div>
    </form>
    <button
      v-if="!logged"
      class="btn btn-primary not-logged mt-5"
      id="btn-login"
      @click="login()"
    >Login</button>
    <DelayList v-if="showDelays" @close="showDelays = false" :students="students"/>
  </div>
</template>

<script>
import Vue from "vue";
import { db } from "@/main";
import moment from "moment";
import DelayList from "./DelayList.vue";
import firebase from "firebase/app";

export default {
  name: "StudentList",
  data() {
    return {
      showDelays: false,
      students: [],
      logged: false,
      studentName: "",
      refHours: 9,
      refMinutes: 30,
      promo: 9
    };
  },
  components: {
    DelayList
  },
  created() {
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        this.logged = true;
      } else {
        this.logged = false;
      }
    });
    db.collection("student").onSnapshot(data => {
      this.students = [];
      data.forEach(doc =>
        this.students.push(Object.assign({ id: doc.id }, doc.data()))
      );
    });
  },
  methods: {
    addDelay(student) {
      let classStart = moment()
        .hours(this.refHours)
        .minutes(this.refMinutes);

      let delay = moment
        .utc(moment().diff(moment(classStart, "DD/MM/YYYY HH:mm:ss")))
        .format("HH:mm");

      student.delays.push({
        date: classStart.format("DD/MM/YYYY"),
        time: delay
      });
      try {
        db.collection("student")
          .doc(student.id)
          .update({
            delays: student.delays
          });
      } catch (error) {
        alert("Action non autorisée. Veuillez vous connecter.");
      }
    },
    deleteStudent(student) {
      db.collection("student")
        .doc(student.id)
        .delete();
    },
    addStudent() {
      db.collection("student").add({ name: this.studentName, delays: [] });
    },
    login() {
      let provider = new firebase.auth.GoogleAuthProvider();
      firebase.auth().signInWithPopup(provider);
    },
    todayDelay(student) {
      
      return student.delays.find(delay => moment().format('DD/MM/YYYY') === delay.date);
    }
  }
};
</script>

<style lang="scss">
</style>
