<template>
  <div id="app">
    <StudentList />
  </div>
</template>

<script>
import StudentList from './components/StudentList.vue'

export default {
  name: 'app',
  components: {
    StudentList
  }
}
</script>

<style lang="scss">
</style>
